<form (ngSubmit)="signUp()">
    <h1>REGISTER</h1>
    <span>First Name:  </span>
    <input placeholder="Enter First Name" type="text" name="firstName" [(ngModel)]="newUser.firstName"><br><br>
    <span>Last Name:  </span>
    <input placeholder="Enter Last Name" type="text" name="lastName" [(ngModel)]="newUser.lastName"><br><br>
    <span>Email:  </span>
    <input placeholder="Enter Email" type="text" name="email" [(ngModel)]="newUser.Email"><br><br>
    <span>User Name:  </span>
    <input placeholder="Enter Password" type="text" name="userName" [(ngModel)]="newUser.userName"><br><br>
    <span>Password:  </span>
    <input placeholder="Enter Password" type="text" name="Password" [(ngModel)]="newUser.Password"><br><br>
    <span>City:  </span>
    <input placeholder="Enter Password" type="text" name="City" [(ngModel)]="newUser.City"><br><br>
    <span>State:  </span>
    <input placeholder="Enter Password" type="text" name="State" [(ngModel)]="newUser.State"><br><br>
    <button>
      Sign Up
    </button>
</form>