<div class="container-fluid mat-card">
  <form (ngSubmit)="signUp()">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title">REGISTER 🤝</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container-fluid inline">
          <p>
            <mat-form-field class="formInput" appearance="outline">
              <mat-label>First Name </mat-label>
              <input matInput placeholder="Enter your first name" type="text" name="firstName" class="input"
                appearance="outline" [(ngModel)]="newUser.firstName">
            </mat-form-field>
          </p>
          &nbsp;
          <p>
            <mat-form-field class="formInput" appearance="outline">
              <mat-label>Last Name </mat-label>
              <input matInput placeholder="Enter your last name" type="text" name="lastName" class="input"
                appearance="outline" [(ngModel)]="newUser.lastName">
            </mat-form-field>
          </p>
        </div>
        <div class="container-fluid inline">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email </mat-label>
            <input matInput placeholder="Enter your email" type="text" name="email" class="input" appearance="outline"
              [(ngModel)]="newUser.Email">
          </mat-form-field>
        </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>User Name </mat-label>
              <input matInput placeholder="Enter a username" type="text" name="userName" class="input"
                appearance="outline" [(ngModel)]="newUser.userName">
            </mat-form-field>
          </p>
        </div>
        <div class="container-fluid inline">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password </mat-label>
              <input matInput placeholder="Enter a password" type="text" name="Password" class="input"
                appearance="outline"  matTooltip="Please use 8 characters or more for your password.  Try a mix of letters, numbers, and symbols." [(ngModel)]="newUser.Password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Profile Picture Url </mat-label>
              <input matInput placeholder="Photo Url" type="text" name="PhotoUrl" class="input"
                appearance="outline" [(ngModel)]="newUser.photoUrl">
            </mat-form-field>
          </p>
        </div>
          <div class="container-fluid inline">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>City </mat-label>
              <input matInput placeholder="Link to your picture" type="text" name="City" class="input"
                appearance="outline" [(ngModel)]="newUser.City">
            </mat-form-field>
          </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>State </mat-label>
            <input matInput placeholder="Enter Password" type="text" name="State" class="input" appearance="outline"
              [(ngModel)]="newUser.State">
          </mat-form-field>
        </p>
      </div>
      <div class="container-fluid inline spacing">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Zipcode </mat-label>
            <input matInput placeholder="Zipcode" type="text" name="zipcode" class="input" appearance="outline"
              [(ngModel)]="newUser.Zipcode">
          </mat-form-field>
        </p>
      </div>
        <div class="container-fluid example-button-row">
          <button mat-button type="submit">SIGN UP</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>