<div class="container-fluid heading">
    <h1>Chirping Happens Here!</h1>
</div>

<!-- <a [routerLink]="['new']">Create New Post</a> -->
<div class="container-fluid post">
    <form (ngSubmit)="onSubmit()">
    <h1>New Post</h1>
    <textarea class="textField" matInput placeholder="Say what you need to say, here." [(ngModel)]="newPost.Chirp"></textarea>
    
    <div class="container-fluid example-button-row">
        <button mat-button type="submit">Chirp!</button>
      </div>
</form>
</div>


<div *ngIf="postList">
    <div *ngFor="let post of postList">
        <p>{{post.Chirp}}</p>
        <p [routerLink]='["profile", post.UserId]'><strong>{{post.User}}</strong> | {{post.ChirpDate}}</p>
        <hr>
</div>


