<div class="container-fluid mat-card">
  <form (ngSubmit)="signin()">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title">LOGIN</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>
      <mat-form-field appearance="outline" (ngSubmit)="signin()">
        <mat-label></mat-label>
        <input matInput placeholder="Username" type="text" name="userName" class="input" [(ngModel)]="username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <br>
        <input matInput placeholder="Password" type="text" name="Password" class="input" [(ngModel)]="password">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <div class="example-button-row">
          <button mat-button type="submit">Sign In</button>
          </div>
      </mat-form-field>
    </p>
  </mat-card-content>
</mat-card>
</form>
</div>


<!-- <form (ngSubmit)="signin()">
    <h1>Login</h1>
    <span>User Name:  </span>
    <input placeholder="Enter email" type="text" name="userName" [(ngModel)]="username">
    <br><br>
    <span>Password:  </span>
    <input placeholder="Enter password" type="password" name="password" [(ngModel)]="password">
    <br><br>
    
    <button>
      Sign In
    </button>
</form> -->
