<div class="container-fluid mat-card">
  <form (ngSubmit)="signin()">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="title">LOGIN 🙌</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field class="formInput" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" type="text" name="userName" class="input" appearance="outline"
              [(ngModel)]="username">
          </mat-form-field>
        </p>
        <br>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="text" name="Password" class="input" appearance="outline"
              [(ngModel)]="password">
          </mat-form-field>
        </p>
        <div class="example-button-row">
          <button mat-button type="submit">SIGN IN</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>


<!-- <form (ngSubmit)="signin()">
    <h1>Login</h1>
    <span>User Name:  </span>
    <input placeholder="Enter email" type="text" name="userName" [(ngModel)]="username">
    <br><br>
    <span>Password:  </span>
    <input placeholder="Enter password" type="password" name="password" [(ngModel)]="password">
    <br><br>
    
    <button>
      Sign In
    </button>
</form> -->