<!-- <nav role="navigation">
  <a routerLink="/signup" title="Sign Up">Sign Up</a>
  <span> | </span>
  <a routerLink="/signin" title="Sign In">Sign In</a>
  <span> | </span>
  <a routerLink="/Home" title="Home">Home</a>
  <hr>
</nav> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"> <img src="assets/bird-chirping-flat-by-Vexels.png" width="50" height="44" routerLink="/home">Chirpy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" routerLink="/signup">Sign Up</a>
        </li>

        <!--
          Displays Sign In when not logged in and Log out and Hi! <user's name> when logged in 
        -->
        
        <div *ngIf="!show">
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" routerLink="/signin">Sign In</a>
        </li>
        </div>
        <div *ngIf="show">
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true" onclick="deleteKey()">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true" [routerLink]='["profile", user.userId]'>Hi! {{user.userId}}</a>
          </li>
        </div>
        
        
      </ul>
      
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
