<div class="container-fluid profileInfo">
    <div class="container-fluid profileText">
        <mat-card>
            <mat-card-header>
                <mat-card-title class="title">{{currentUser.userName}}'s Profile</mat-card-title>
              </mat-card-header>
            <mat-card-content>
                <p>{{currentUser.firstName}}</p><br>
                <p>{{currentUser.lastName}}</p><br>
                <p>{{currentUser.Email}}</p><br>
                <p>{{currentUser.City}}</p><br>
                <p>{{currentUser.State}}</p><br>
                <p>{{currentUser.Zipcode}}</p><br>
                <p>{{currentUser.memberSince}}</p><br>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card>
        <mat-card-content>
            <div class="container-fluid profilePhoto">
                <img name="profilePic" src={{currentUser.photoUrl}}>
            </div>
        </mat-card-content>
    </mat-card>

    <div *ngIf="display">
        <a [routerLink]="['edit-Profile', userId]">Edit Profile</a>
    </div>
</div>


<!-- Only User's Post/Chirps -->
<!-- The Post Text Area will only be visible if the user is logged in  -->

<h1>{{currentUser.userName}}'s Chirps</h1>

<div *ngIf="display">
    <div class="container-fluid post">
        <form (ngSubmit)="onSubmit()">
            <h1>Post</h1>
            <span>New Post</span>
            <textarea [ngModelOptions]="{standalone: true}" placeholder="Say what you need to say, here."
                [(ngModel)]="newPost.Chirp"></textarea><br><br>
            <div class="container-fluid example-button-row">
                <button mat-button type="submit">Chirp!</button>
            </div>
        </form>
    </div>
</div>


<!-- The Edit and Delete buttons will only be visible if the user is logged in -->

<div *ngIf="postList">
    <div *ngFor="let post of postList">
        <p>{{post.Chirp}} - ${{post.ChirpDate}}</p>
        <div *ngIf="display">
            <button name="postId" [routerLink]="['edit-post', post.PostId]">Edit</button> &nbsp; <button
                (click)='onDelete(post.PostId)'>Delete</button>
        </div>
        <hr>
    </div>
</div>